body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: #D0E5F5; Light blue background */
    /* background-image: linear-gradient(to right,#D0E5F5, #f9ffb8); */
    background-image: linear-gradient(to right,#c3e4fd, #ffffff); 
  }
  
  header {
    /* background-color: #3498db; Blue header */
    background-image: linear-gradient(to right,#87cbff, #3daafe);
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  main {
    flex: 1;
    display: flex;
    justify-content: center; /* Center main content */
    align-items: center;
    flex-direction: column;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between buttons */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #2980b9; /* Darker blue for buttons */
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #2c3e50; /* Darker blue on hover */
  }
  
  .features, .benefits {
    text-align: center; /* Center content within these sections */
    max-width: 600px; /* Optional: Set a maximum width for readability */
    margin: 0 auto; /* Center the sections horizontally */
    padding: 30px;
  }
  
  .features h3, .benefits h2 {
    margin-bottom: 15px; /* Add spacing below headings */
  }
  
  .call-to-action {
    margin-top: 30px; /* Add spacing above the call-to-action */
    text-align: center;
  }
  
  .call-to-action a {
    color: #3498db; /* Blue link color to match header */
    text-decoration: none;
  }
  
  .disclaimer {
    margin-top: 20px; /* Add spacing above the disclaimer */
    text-align: center;
    font-size: 14px; /* Slightly smaller font for disclaimer */
    color: #666; /* Lighter gray text for disclaimer */
  }
  